.start-point,
.end-point {
    font-size: 10px;
    margin: 0;
    padding: 2px;
    left: 7px;
    position: absolute;
    top: -16px;
    font-weight: 500;
    display: inline-block;
}

.start-point {
    color: #E8F5E9;
    background-color: #388E3C;
    border: 1px solid #2E7D32;
}

.end-point {
    color: #FFEBEE;
    background-color: #D32F2F;
    border: 1px solid #B71C1C;
}

.chart-wrapper{
  height: 200px;
  position: absolute;
  bottom: 0;
  background-color: #212121;
  width: 100%;
}

:host /deep/ .tick text {
  fill: white;
}
